
 /* font-family */
body {
  font-family: "Inter", sans-serif;
}
/* container-style */
.container {
  width: min(100%, 1440px);
  align-items: center;
  margin: auto;
  padding-top: 136px;
}
/* header */
header {
  padding: 32px 80px;
  display: flex;
  background-color: #372d23;
  position: fixed;
  max-width: inherit;
  width: inherit;
  top: 0%;
  left: 50%;
  transform: translateX(-50%); 
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
.header-list {
  display:flex;
  list-style: none;
  flex-wrap: wrap;
  column-gap: 48px;
}
.header-link {
  font-weight: 700px;
  font-style: Bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
}
.active {
  color: #ed6c30;
}
.inactive {
  color: #fcc21b;
}
.fa-bag-shopping {
  font-size: 35px;
  color: #fcc21b;
}
/* section-1 */
.section-one {
  height: 640px;
  position: relative;
}
.section one cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section-one-article {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 762px;
  height: 208px;
  border-radius: 10px;
  background-color: #fcc21b99;
  box-shadow: -4px -4px 6px 0px rgb(78, 37, 37);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h1 {
  font-weight: 800;
  font-style: Italic;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0%;
  color: #ffffff;
  text-shadow: 6px 2px 4px rgba(0, 0, 0, 1);
}
/* section-2 */
.section-two {
  background-color: #ffe18a;
  padding: 96px 80px 104px;
  display: flex;
  column-gap: 40px;
}
.section-two-article{
  width: 620px;
  height: 400px;
  position: relative;
}
.section-two-article-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
h2 {
  font-weight: 700px;
  font-style: Bold;
  font-size: 64px;
  line-height: 72px;
  letter-spacing: 0%;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* footer */
footer {
  padding: 32px 80px;
  background-color: #372d23;
  display: flex;
  justify-content: space-between;
}
.footer-container-link {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  list-style: none;
}
.footer-container-text
{display:flex
  font-family: Inter;
  font-weight: 400px;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #FCC21B;
  list-style: none;

}
.footer-container-social
 {
  display: flex;
  list-style: none;
  column-gap: 24px;

}